<div class="body-details">

    <div class="photo-details">
    <div class="title-audit">
        <h1 class="h1-audit">{{dept.name}}</h1>
    </div>
    </div>

<div class="main-audit">
    <div class="container-main-edit-details">
        <div class="container-edit">
          <div class="info-add">
            <h3 class="text-add">Edit information</h3>
          </div>
          <form action="/audit/edit?dept_id={{dept._id}}" method="post">
      
          <input type="text" name="name" class="input-add" value="{{dept.name}}"><br>
          <input type="text" name="description" class="input-add" value="{{dept.description}}"><br>

          <input type="submit" class="input-add" value="EDIT">

          </form>
        </div>
    </div> 

      <div class="container-img-edit">
        <img class="img-edit" src="/images/workhard.jpeg">
      </div>

  </div>

  <div class="return">
      <button type="button" class="btn btn-secondary"><a class="a-return" href="/audit"><i class="fas fa-arrow-circle-left"></i>Return</a></button>
  </div>
</div>



