<div class="body-details">

    <div class="photo-details">
    <div class="title-audit">
        <h1 class="h1-audit">{{dept.name}}</h1>
    </div>
    </div>

<div class="main-audit">
    <div class="container-main-add-details">
        <div class="container-edit">
          <div class="info-add">
            <p class="text-add">Edit information</p>
          </div>
          <form action="/audit/edit?dept_id={{dept._id}}" method="post">
      
          <input type="text" name="name" class="input-add" value="{{dept.name}}"><br>
          <input type="text" name="description" class="input-add" value="{{dept.description}}"><br>

          <input type="submit" class="input-add" value="EDIT">

          </form>
        </div>
    </div>  

    </div>
    
</div>



