<form action="/audit/edit?dept_id={{dept._id}}" method="post">
  <label for="">Name:</label>
  <input type="text" name="name" value="{{dept.name}}"/>

  <label for="">Description:</label>
  <input type="text" name="description"  value="{{dept.description}}"/>

  <button type="submit">EDIT</button>
</form>