<section class="body">
    {{!-- <div class="foto-index">
        <img src="/images/index.jpg" alt="Imagen Index">
    </div> --}}
<section class="body2">
    <div class="body-index">
        <h2> DAYADAY</h2>
        <b><p>Te ayudará a llevar un control del rendimiento de los empleados dentro de cada departamento.</p></b>
        <div class="boton">
            {{#if isUserLoggedIn}}
           <a href="/audit"><button>  Go Dept </button> </a>
           {{else}}
           <a href="/signup"><button>  Go Dept </button> </a>
           {{/if}}
        </div>
    </div>
    
</section>
    {{!-- <div class="fotos-abajo">
        <img src="/images/teclado.jpg" alt="Teclado">
        <img src="/images/grafico.jpg" alt="Grafico">
    </div> --}}
</section>
