<section class="body">
    {{!-- <div class="foto-index">
        <img src="/images/index.jpg" alt="Imagen Index">
    </div> --}}
<div class="container-index">
<div class="logo-pagina">
<svg width="250" height="453" viewBox="0 0 345 458" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.601562 453V396.125H16.6562C21.6042 396.125 25.9792 397.219 29.7812 399.406C33.5833 401.594 36.513 404.706 38.5703 408.742C40.6536 412.779 41.7083 417.414 41.7344 422.648V426.281C41.7344 431.646 40.6927 436.346 38.6094 440.383C36.5521 444.419 33.5964 447.518 29.7422 449.68C25.9141 451.841 21.4479 452.948 16.3438 453H0.601562ZM8.10156 402.297V446.867H15.9922C21.7734 446.867 26.2656 445.07 29.4688 441.477C32.6979 437.883 34.3125 432.766 34.3125 426.125V422.805C34.3125 416.346 32.7891 411.333 29.7422 407.766C26.7214 404.172 22.4245 402.349 16.8516 402.297H8.10156ZM83.6484 438.156H59.8203L54.4688 453H46.7344L68.4531 396.125H75.0156L96.7734 453H89.0781L83.6484 438.156ZM62.0859 431.984H81.4219L71.7344 405.383L62.0859 431.984ZM118.102 424.68L132.945 396.125H141.461L121.852 431.789V453H114.352V431.789L94.7422 396.125H103.336L118.102 424.68ZM176.539 438.156H152.711L147.359 453H139.625L161.344 396.125H167.906L189.664 453H181.969L176.539 438.156ZM154.977 431.984H174.312L164.625 405.383L154.977 431.984ZM197.32 453V396.125H213.375C218.323 396.125 222.698 397.219 226.5 399.406C230.302 401.594 233.232 404.706 235.289 408.742C237.372 412.779 238.427 417.414 238.453 422.648V426.281C238.453 431.646 237.411 436.346 235.328 440.383C233.271 444.419 230.315 447.518 226.461 449.68C222.633 451.841 218.167 452.948 213.062 453H197.32ZM204.82 402.297V446.867H212.711C218.492 446.867 222.984 445.07 226.188 441.477C229.417 437.883 231.031 432.766 231.031 426.125V422.805C231.031 416.346 229.508 411.333 226.461 407.766C223.44 404.172 219.143 402.349 213.57 402.297H204.82ZM280.367 438.156H256.539L251.188 453H243.453L265.172 396.125H271.734L293.492 453H285.797L280.367 438.156ZM258.805 431.984H278.141L268.453 405.383L258.805 431.984ZM314.82 424.68L329.664 396.125H338.18L318.57 431.789V453H311.07V431.789L291.461 396.125H300.055L314.82 424.68Z" fill="url(#paint0_linear)"/>
<path d="M110 229L193.138 376.75H26.8616L110 229Z" fill="url(#paint1_linear)"/>
<path d="M20 56.5404L125.287 56.5404L287.975 328.482C271.725 362.311 254.517 372.884 208.609 375.962L20 56.5404Z" fill="url(#paint2_linear)"/>
<path d="M304.007 135.167C358.61 221.687 296 321 296 321L134.15 54.2674C134.15 54.2674 249.404 48.6463 304.007 135.167Z" fill="url(#paint3_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="166.5" y1="379" x2="166.5" y2="473" gradientUnits="userSpaceOnUse">
<stop stop-color="#EB94D0"/>
<stop offset="1" stop-color="#2079B0" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="110" y1="229" x2="110" y2="426" gradientUnits="userSpaceOnUse">
<stop stop-color="#2079B0"/>
<stop offset="1" stop-color="#9A036B" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="57.8541" y1="33.8943" x2="256.304" y2="365.614" gradientUnits="userSpaceOnUse">
<stop stop-color="#2079B0"/>
<stop offset="1" stop-color="#EB94D0"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="303.363" y1="134.062" x2="215.075" y2="187.634" gradientUnits="userSpaceOnUse">
<stop stop-color="#EB94D0"/>
<stop offset="1" stop-color="#2079B0"/>
</linearGradient>
</defs>
</svg>

</div>
<section class="body2">
    <div class="body-index">
        {{#if isUserLoggedIn}}
        <h2> Thanks you <br> for registering </h2>
        <b><p> You have already done the first step, now go into the audit section and start organizing your company. You can press the next button to go directly. </p></b>
        {{else}}
        <h2> Welcome to DayaDay </h2>
        <b><p>This app will help you keep track of the performance of your employees within each department of your company. 
            If you need to have that control for employees, register and start using our app. </p></b>
        {{/if}}
        <div class="boton">
            {{#if isUserLoggedIn}}
            {{#unless isEmployee}}
           <a href="/audit"><button>  Go Audit </button> </a>
           {{/unless}}
           {{#if isEmployee}}
           <a href="/profile"><button>  Go Profile </button> </a>
           {{/if}}
           {{else}}
           <a href="/signup"><button>  Go Sign Up  </button> </a>
           {{/if}}
        </div>
    </div>
    
</section>
</div>
<svg width="367" height="390" viewBox="0 0 367 390" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="367" height="390" />
<path d="M92 229L175.138 376.75H8.86156L92 229Z" fill="url(#paint0_linear)"/>
<path d="M2 56.5404L107.287 56.5404L269.975 328.482C253.725 362.311 236.517 372.884 190.609 375.962L2 56.5404Z" fill="url(#paint1_linear)"/>
<path d="M286.007 135.167C340.61 221.687 278 321 278 321L116.15 54.2674C116.15 54.2674 231.404 48.6463 286.007 135.167Z" fill="url(#paint2_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="92" y1="229" x2="92" y2="426" gradientUnits="userSpaceOnUse">
<stop stop-color="#2079B0"/>
<stop offset="1" stop-color="#9A036B" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="39.8541" y1="33.8943" x2="238.304" y2="365.614" gradientUnits="userSpaceOnUse">
<stop stop-color="#2079B0"/>
<stop offset="1" stop-color="#EB94D0"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="285.363" y1="134.062" x2="197.075" y2="187.634" gradientUnits="userSpaceOnUse">
<stop stop-color="#EB94D0"/>
<stop offset="1" stop-color="#2079B0"/>
</linearGradient>
</defs>
</svg>


    {{!-- <div class="fotos-abajo">
        <img src="/images/teclado.jpg" alt="Teclado">
        <img src="/images/grafico.jpg" alt="Grafico">
    </div> --}}
</section>
