*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* -------------- NAV ---------------*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;    
  min-height: 8vh;
  background-color: #353535;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}
/* --------------INDEX---------------*/

.body{
  background: url(/images/backgroundsimple.jpeg)no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}

.body2{
  padding: 0 80px;
  height: 135vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.body-index{
  position: relative;
  max-width: 600px;
  padding: 50px;
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5); 
  color: black; 
}

.body-index h2{
  margin: 0 0 20px;
  padding: 0;
  font-size: 48px;
  text-transform: uppercase;
  color: blue;
}

.body-index p{
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
}

.foto-index{
  position: absolute;
  display: flex;
  align-items: flex-start;
  padding: 0%;
}

.foto-index img{
  width: 30%;
  margin-top: 50px;
  margin-left: 150px;
  padding-top: 0%;
}

.boton{
  text-align: center;
}

.boton button{
  color: white;
  height: 50px;
  width: 100px;
  background: #eb94d0;
  background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
}

.boton button:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -ms-linear-gradient(top, #2079b0, #eb94d0);
  background-image: -o-linear-gradient(top, #2079b0, #eb94d0);
  background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
  text-decoration: none;
}

.fotos-abajo{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

/* -------------- SIGN UP/LOGIN ---------------*/
.body-sg{
  background: url(/images/signup.jpeg)no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 135vh;
  display: flex;
  justify-content: center;
}
.container-sg{
 margin-top: 150px; 
}

.wrap{
  max-width: 350px;
  border-radius: 20px;
  margin: auto;
  background: rgba(0,0,0,0.8);
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
}
.h2-lg{
  text-align: center;
  padding-bottom: 20px;
}

.input-sg[type=text], .input-sg[type=password]{
  width: 100%;
  box-sizing: border-box;
  padding: 12px 5px;
  background: rgba(0,0,0,0.10);
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
  color: #fff;
}

.input-sg[type=submit]{
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: 30px;
  outline: none;
  border: none;
  background: #B5B1B1 ;
  opacity: 0.7;
  border-radius: 20px;
  font-size: 20px;
  color: #040404;
}

.input-sg[type=submit]:hover{
  background: white;
  opacity: 0.7;
}

.texto{
  font-size: 20px;
  text-align: center;
}

.select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select{
  position: relative;
  width: 100%;
  padding-top: 5px;
}
 
.select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: rgba(0,0,0,0.10);
	color: #fff ;
	font-size: 1em;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.select select:hover{
	background: white;
}

.select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.select:hover i{
	margin-top: 3px;
}
.accountMessage{
  margin-top: 8px;
 display: flex;
 justify-content: center;
 text-align: center;
}

/* -------------- FOOTER ---------------*/
footer{
  /*position: fixed;*/
  bottom: 0px;
  width: 100%;
  background-color: #A2A0A0;
  color: #040404;
}
.bottom center{
  padding: 5px;
  font-size: 20px;
  background-color: #D9D9D9;
}
.bottom center span{
  color: #fff;
}
.bottom center span a{
  color: #120202;
  text-decoration: none;
}

.bottom center a:hover{
  text-decoration: underline;
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform:  rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform:  rotate(45deg) translate(-5px,-5px);
}


@media screen and (max-width:1024px){
  .nav-links{
      width: 60%;
  }
}

@media screen and (max-width: 900px){
  footer{
      position: relative;
      bottom: 0px;
  }

  .main-content{
     flex-wrap: wrap; 
     flex-direction: column;
  }
  .main-content .box{
      margin: 5px 0;
  }
}

@media screen and (max-width:768px){
  body{
      overflow-x: hidden;
  }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #353535;
      flex-direction: column;
      align-items: center;
      width: 40%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1;
  }
  .nav-links li{
      opacity: 0;
  }
  .burger{
      display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}