.body-audit{
    background-color: #F0EFEF;
}
/* background-color: #3C6E71; */
.photo-audit{
    background: url(/images/office.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-audit{
    color: rgba(255,255,255,1);
}
.h1-audit{
    text-transform: uppercase;
}

.main-audit{
   display: flex;
   flex-direction: column;
}
.main-audit-details{
    display: flex;
    flex-direction: column;
 }


/*--------ADD DEPT---------- */
.container-main-add{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-main-add-details{
    display: flex;
    justify-content: center;
}
.container-main-edit-details{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-img-edit{
    display: none;
}

.container-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: #284B63;
    border: 1px solid #fff;
    padding: 10px;
}
.info-add{
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.h2-add{
    color: #fff;
}
.p-add{
    color: #353535;
}
.text-add{
    color: #D9D9D9;
}
.input-add[type=text], .input-add[type=password], .input-add[type=number], .input-add[type=date], .input-add[type=email], .input-add[type=time]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
}
.subir{
    padding: 5px 10px;
    margin-top: 18px;
    background-color: #284B63;
    color:#fff;
    border:0px solid #fff;
}
 
.subir:hover{
    color:#353535;
    background: #D9D9D9;
}

.input-add[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #D9D9D9;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #040404;
  }

  .input-add[type=submit]:hover{
    background: white;
    opacity: 0.7;
  }
  .input-add::placeholder{
      color: #D9D9D9;
  }
/*--------CARDS DEPT---------- */

.container-main-cards{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-cards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.card{
    width: 48%;
    margin-bottom: 10px;
    border: 2px solid #284B63;
}
.card-body{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
}

.card-title {
    text-transform: uppercase;
    text-align: center;
    color: #3C6E71;
}
.card-title-p {
    text-transform: uppercase;
    text-align: center;
    color: #353535;
}

.btn-edit-dept{
    background-color: #D9D9D9;
    border: none;
}
.card-btn{
    display: flex;
    margin-bottom: 5px;
}
.p-add-edit{
    color: #353535;
    margin-right: 1px;
}
.p-add-edit:hover{
    color: black;
}
.delete{
    border: none;
    background-color: #D9D9D9;
    color: #353535;
    margin-left: px;
}
.delete:hover{
   text-decoration: underline;
   color: red;
}
.btn-secondary {
    color: black;
    background-color:#B5B1B1;
    border-color: grey;
}
.oculto{
    display: none;
}
.oculto-detail{
    display: none;
}
.container-img{
    display: none;
}
.oculto-audit{
    display: none;
}
.container-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: #284B63;
    border: 2px solid #fff;
    padding: 10px;
    width: 100%;
}


/*--------DEPT DETAILS---------- */
.body-details{
    background-color: #F0EFEF;
}
.photo-details{
    background: url(/images/audit.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.container-info{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-manager{
    display: flex;
    background-color: #D9D9D9;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 10px;
    width: 81%;
    border: 2px solid #284B63;
    margin: 10px;
}
.container-employee{
    display: flex;
    background-color: #D9D9D9;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 10px;
    width: 70%;
    border: 2px solid #284B63;
    margin: 10px;
    text-align: center;
}
.h2-worker{
    color: #3C6E71;
}
.a-employees{
    color: #353535;
}
.a-employees:hover{
    color: black;
}

/* --------- valorate ---------- */
.container-form-rates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-card-rates{
    display: flex;
    justify-content: center;
    width: 200%;
}
.body-valorate{
 background-color: #F0EFEF;
}

.container-card-valorate{
    display: flex;  
    justify-content: center;
}

.card-body-valorate{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 31.5px;
    overflow: hidden;
}
.card-img{
    height: 100%;
}

.container-rates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: #284B63;
    border: 1px solid #fff;
    padding: 10px;
    width: 80%;
}

.info-add-rate{
    border-bottom: 2px solid #fff;
    margin-top: 22px;
    margin-bottom: 27px;
    padding-bottom: 10px;
}
.label-field{
    color: #fff;
}
.radio{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    color: #D9D9D9;
}
.radio__input{
    display: none;
}
.radio__radio{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
}
.radio__radio::after{
content: "";
width: 100%;
height: 100%;
display: block;
background: #009879;
border-radius: 50%;

transform: scale(0);
transition: trasnform 0.15s;
}

.radio__input:checked + .radio__radio::after{
transform: scale(1);
}
.hr-form{
    background-color: #D9D9D9;
}
.card-text-rates{
    color: #353535;
}
.card-text-rates-avg{
    color: black;
}
.container-img-valorate{
    display: none;
}
.card-header{
    text-align: center;
}
.container-perfil-valorate{
    background: url(/images/bck.jpeg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    margin-top: 10px;
    margin-bottom: 0px;
}
.card-rate{
    margin-top: 0px;
    border-bottom: 2px solid #284B63;
    border-left: 2px solid #284B63;
    border-right: 2px solid #284B63;
    background-color: #D9D9D9;
}
.card-body-img{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
} 
.container-main-valorate{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58%;
    justify-content: center;
}
.container-img-valorate{
    display: none;
}
.card-footer{
   background-color: #D9D9D9;
   height: 27.5%;
}



@media screen and (min-width: 500px) {
    .photo-audit{
        background: url(/images/office.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-details{
        background: url(/images/audit.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
}
@media screen and (min-width: 768px) {
    .container-main-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .container-cards{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 27px;
    }
    .container-quote{
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
    }
    .main-audit{
        display: flex;
        flex-direction: row;
     }
    .container-main-add{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .container-img-edit{
        display: flex;
        padding: 5%;
    }
    .img-edit{
        width: 100%;
    }
    .container-form-rates{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container-card-rates{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin: auto;
        align-items: center;
    }
    .container-img-valorate{
        display: flex;
        justify-content: center;
    }
    .img-valorate{
        width: 65%;
    }
    .container-perfil-valorate{
        background: url(/images/bck.jpeg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .card{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .card-body-img{
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 53px;
        overflow: hidden;
    }

    .card-rate{
        margin-top: 10px;
        border-bottom: 2px solid #284B63;
        border-top: 2px solid #284B63;
        border-right: 2px solid #284B63;
    }
    .container-img-valorate{
        width: 70%;
    }
    .img-detail-valorate{
        width: 100%;
        height: 100%; 
    }
}

@media screen and (min-width: 1000px) {
    .photo-audit{
        background: url(/images/office.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-details{
        background: url(/images/audit.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .main-audit-details{
        display: flex;
        flex-direction: row;
     }
    .container-img{
        width: 70%;
    }
    .oculto{
        display: flex;
        padding: 10%;
    }
    .oculto-audit{
        display: flex;
        height: 500px;
        padding: 7%;
    }
    .oculto-img{
        width: 70%;
    }
    .oculto-img-audit{
        width: 30%;
        height: 100%;
        margin-left: 10%;
    }
    .container-main-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding: 35px 0px;
    }
    .container-img{
        display: flex;
    }
    .container-img-audit{
        display: flex;
    }
    .img-detail{
        width: 100%;
        height: 100%; 
    }
    .container-quote-audit{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -40%;
    }
    .container-img-valorate{
        display: flex;
    }
}
