.body-audit{
    background-color: #F0EFEF;
}
/* background-color: #3C6E71; */
.photo-audit{
    background: url(/images/office.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-audit{
    color: rgba(255,255,255,1);
}
.h1-audit{
    text-transform: uppercase;
}

.main-audit{
   display: flex;
   flex-direction: column;
}


/*--------ADD DEPT---------- */
.container-main-add{
    display: flex;
    justify-content: center;
}
.container-main-add-details{
    display: flex;
    justify-content: center;
}
.container-add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: #284B63;
    border: 1px solid #fff;
    padding: 10px;
}
.info-add{
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.h2-add{
    color: #fff;
}
.p-add{
    color: #353535;
}
.text-add{
    color: #D9D9D9;
}
.input-add[type=text], .input-add[type=password], .input-add[type=number], .input-add[type=date]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-top: 5px;
    font-weight: bold;
    color: #fff;
}
.input-add[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 30px;
    outline: none;
    border: none;
    background: #D9D9D9;
    opacity: 0.7;
    border-radius: 20px;
    font-size: 20px;
    color: #040404;
  }

  .input-add[type=submit]:hover{
    background: white;
    opacity: 0.7;
  }
  .input-add::placeholder{
      color: #D9D9D9;
  }
/*--------CARDS DEPT---------- */

.container-main-cards{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-cards{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}
.card{
    width: 48%;
    margin-bottom: 10px;
    border: 2px solid #284B63;
}
.card-body{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.card-title {
    text-transform: uppercase;
    text-align: center;
    color: #3C6E71;
}
.card-title-p {
    text-transform: uppercase;
    text-align: center;
    color: #353535;
}

.btn-edit-dept{
    background-color: #D9D9D9;
    border: none;
}
.card-btn{
    display: flex;
    margin-bottom: 5px;
}
.p-add-edit{
    color: #353535;
    margin-right: 1px;
}
.p-add-edit:hover{
    color: black;
}
.delete{
    border: none;
    background-color: #D9D9D9;
    color: #353535;
    margin-left: px;
}
.delete:hover{
   text-decoration: underline;
   color: red;
}
.btn-secondary {
    color: black;
    background-color:#B5B1B1;
    border-color: grey;
}
.oculto{
    display: none;
}
.container-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: #284B63;
    border: 2px solid #fff;
    padding: 10px;
    width: 100%;
}


/*--------DEPT DETAILS---------- */
.body-details{
    background-color: #F0EFEF;
}
.photo-details{
    background: url(/images/audit.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-main-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.container-info{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-manager{
    display: flex;
    background-color: #D9D9D9;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 10px;
    width: 81%;
    border: 2px solid #284B63;
    margin: 10px;
}
.container-employee{
    display: flex;
    background-color: #D9D9D9;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 10px;
    width: 81%;
    border: 2px solid #284B63;
    margin: 10px;
}
.h2-worker{
    color: #3C6E71;
}
.a-employees{
    color: #353535;
}
.a-employees:hover{
    color: black;
}



@media screen and (min-width: 500px) {
    .photo-audit{
        background: url(/images/office.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-details{
        background: url(/images/audit.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 700px) {
    .main-audit{
        display: flex;
        flex-direction: row;
     }
    .container-main-add{
        display: flex;
        justify-content: center;
        width: 40%;
    }
   
    .container-main-cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .container-cards{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 27px;
    }
   
    .oculto{
        display: flex;
        padding: 10%;
    }
    .container-img{
        width: 70%;
    }
    .oculto-img{
        width: 70%;
    }
    .container-main-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding: 35px 0px;
    }
  
    .container-quote{
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
       
    }
}

@media screen and (min-width: 1000px) {
    .photo-audit{
        background: url(/images/office.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo-details{
        background: url(/images/audit.jpg)no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
