.body-new{
    width: 100%;
    background: url(/images/corcho.jpg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 10px;
}

.container-forms-news{
    display: flex;
    flex-direction: column;
}

.container-main-news{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-add-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    text-align: center;
    background-color: #284B63;
    border: 1px solid #fff;
    padding: 10px;
}

.container-news-events{
    display: flex;
    flex-direction: column;

}
.card-new{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-event{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 100%;
}

.fas{
    margin: 0px 10px;
}

.return{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.a-return{
    color: #353535;
}

.btn{
    padding-left: 10px;
    padding-right: 15px;
    background-color: #D9D9D9;
}
.btn a:hover{
    color: #fff;
    text-decoration: none;
}

.photo-new-edit{
    background: url(/images/newEdit.jpeg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-new-event{
    background: url(/images/eventfoto.jpeg)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-new{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    margin-top: 5px;
    font-weight: bold;
    color: #FFF;
}


@media screen and (min-width: 600px) {
    .container-forms-news{
        display: flex;
        flex-direction: row;
    }
    .container-news-events{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .card-new{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-event{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (min-width: 1000px) {
    .container-news-events{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

