<div class="body-sg">
    <div class="container-sg" >
    <div class="wrap">
        <h2 class="h2-lg">Log in</h2>
        <form action="/login" method="post">

            <input type="text" name="email" class="input-sg" placeholder="Email.." required>
            <input type="password" name="password" class="input-sg" placeholder="Password.." required>
            <label for="select">Algo </label>
                <select type="select" name="select" id="select-sg" placeholder=""> 
                    <option value=""></option>
                    <option value="company">Company</option>
                    <option value="manager">Manager</option>
                    <option value="employee">Employee</option>
                </select>
            <input type="submit" class="input-sg" value="Submit">
        </form>
            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}
            <p>
            Don't have an account?
            <a href="/signup">
                Create an account.
            </a>
            </p>
    </div>
    </div>
</div>