<div class="body-sg">
    <div class="container-sg" >
    <div class="wrap">
        <h2 class="h2-lg">Log in</h2>
        <form action="/login" method="post">

            <input type="text" name="email" class="input-sg" placeholder="Email.." required>
            <input type="password" name="password" class="input-sg" placeholder="Password.." required>
            
            <div class="texto">
            <label for="select"> Status </label>
            </div>
            <div class="select">
                <select type="select" name="select" id="select-sg" placeholder=""> 
                    <option value=""></option>
                    <option value="company">Company</option>
                    <option value="employee">Employee</option>
                </select>
                <i></i>
            </div>
            <input type="submit" class="input-sg" value="Submit">
        </form>
            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}
            <div class="accountMessage">
                <p>
                Don't have an account?
                <a href="/signup"><br>
                    Create it one!
                </a>
                </p>
            </div>
    </div>
    </div>
</div>