{{!-- <form action="/signup" method="post">
    <div>
        <label for="name-input"> Name </label>
        <input type="text" name="name" id="name-input" placeholder="e.g., Diana Prince">
    </div>

    <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency">
    </div>

    <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
    </div>

    <div>
        <label for="select-sg"> Select </label>
        <select type="select" name="select" id="select-sg" placeholder=""> 
            <option>Company</option>
            <option>Manager</option>
            <option>Employee</option>
        </select>
    </div>

    <button> Create New Account </button>
</form> --}}
<div class="body-sg">
    <div class="container-sg" >
    <div class="wrap">
        <h2 class="h2-lg">Sign up</h2>
        <form action="/signup" method="post">
            <input type="text" name="name" class="input-sg" placeholder="Name.." required>
            <input type="text" name="lastName" class="input-sg" placeholder="Last Name.." >
            <input type="text" name="email" class="input-sg" placeholder="Email.." required>
            <input type="password" name="password" class="input-sg" placeholder="Password.." required>

            <label for="select">Algo </label>
            <select type="select" name="select" id="select-sg" placeholder=""> 
                <option value=""></option>
                <option value="company">Company</option>
                <option value="manager">Manager</option>
                <option value="employee">Employee</option>
            </select>
            <input type="submit" value="Submit" class="input-sg">
        </form>
            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}
    </div>
    </div>
</div>
