{{!-- <form action="/signup" method="post">
    <div>
        <label for="name-input"> Name </label>
        <input type="text" name="name" id="name-input" placeholder="e.g., Diana Prince">
    </div>

    <div>
        <label for="email-input"> Email </label>
        <input type="email" name="email" id="email-input" placeholder="e.g., diana@themyscira.agency">
    </div>

    <div>
        <label for="password-input"> Password </label>
        <input type="password" name="password" id="password-input" placeholder="e.g., ••••••••••••">
    </div>

    <div>
        <label for="select-sg"> Select </label>
        <select type="select" name="select" id="select-sg" placeholder=""> 
            <option>Company</option>
            <option>Manager</option>
            <option>Employee</option>
        </select>
    </div>

    <button> Create New Account </button>
</form> --}}
<div class="body-sg">
    <div class="wrap">
        <h2>Sign up</h2>
        <form>
            <input type="text" placeholder="First Name.." required>
            <input type="text" placeholder="Last Name.." required>
            <input type="text" placeholder="Email.." required>
            <input type="text" placeholder="Username.." required>
            <input type="password" placeholder="Password.." required>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
