
<div class="body-sg">
    <div class="container-sg" >
    <div class="wrap">
        <h2 class="h2-lg">Sign up</h2>
        <form action="/signup" method="post">
            <input type="text" name="name" class="input-sg" placeholder="Name.." required>
            <input type="text" name="lastName" class="input-sg" placeholder="Last Name.." >
            <input type="text" name="email" class="input-sg" placeholder="Email.." required>
            <input type="password" name="password" class="input-sg" placeholder="Password.." required>

            <div class="texto">
            <label for="select"> Status </label>
            </div>
            <div class="select">
                <select type="select" name="select" id="select-sg" placeholder=""> 
                    <option value=""></option>
                    <option value="company">Company</option>
                    <option value="manager">Manager</option>
                    <option value="employee">Employee</option>
                </select>
                <i></i>
            </div>
            <input type="submit" value="Submit" class="input-sg">
        </form>
            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}
    </div>
    </div>
</div>
